#cy {
  width: 1080px;
  height: 1080px;
  display: block;
  background-color: #fff;
}

.title{
  font-family: "Helvetica";
  
}

.header{
  background-color: LightSkyBlue;
  border: 1px solid LightSkyBlue; 
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover {
  background-color: #b3d3ea;
  color: #2c5777;
}


.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}


/* Styling Done on the home page */

html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #f5f5fa;

  scroll-behavior: smooth;
  color: #323232;
}

/* margin/padding: top right bottom left */

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 70vw;
}

/* nav */

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-item {
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 30px;
}

.nav-link {
  text-decoration: none;
  color: #323232;
  font-size: 20px;
  font-weight: 500;
}

.nav-link:hover {
  color: #666666;
}

.nav-link:active {
  color: #919191fe;
}

/* HOME */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-title {
  text-align: center;
  font-size: 72px;
  margin-bottom: 0px;
  font-weight: 700;
}

.home-description {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.home-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.content {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.content-section-1 {
  flex: 1;
}

.content-section-2 {
  flex: 2;
  padding-left: 30px;
}

.content-image {
  width: 100%;
  border-radius: 15px;
}

.content-section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0px;
}

.content-section-text {
  line-height: 30px;
}

#contact-rightpadding {
  padding-left: 0px;
  padding-right: 30px;
}
